name: Run tests

on:
    pull_request:
      types: [opened]
      branches: [develop]

jobs:
    unit-tests:
        runs-on: ubuntu-22.04
        steps:
        - name: Setup Go
          uses: actions/setup-go@v2
          with:
            go-version: 1.21.x

        - uses: actions/checkout@v3

        - name: Install tools
          run: |
            make tools
        - name: Install Docker
          uses: crazy-max/ghaction-setup-docker@v3

        - name: Run Unit tests
          run: |
            make lint
            make docs-lint
            make website-lint
            make test
